plugins {
    id 'org.springframework.boot' version '2.7.18'
    id 'io.spring.dependency-management' version '1.1.4'
    id 'java'
    id 'java-library'
    id 'groovy'
    id 'com.etendorx.gradlepluginrx'
}

group = 'com.etendorx'
version = '1.0.0'
sourceCompatibility = '17'

repositories {
    mavenCentral()
    maven {
        url = "https://maven.pkg.github.com/etendosoftware/etendo_rx"
        credentials {
            username = "${githubUser}"
            password = "${githubToken}"
        }
    }
    maven {
        url 'https://repo.futit.cloud/repository/maven-public-snapshots'
    }
}

configurations {
    generateEntitiesTool
}

dependencies {
    implementation 'org.springframework.boot:spring-boot-starter'
    testImplementation 'org.springframework.boot:spring-boot-starter-test'
    generateEntitiesTool 'com.etendorx:generate-entities:latest.integration'
}

test {
    useJUnitPlatform()
}

tasks.named("generate.entities", JavaExec).configure {
    doFirst {
        main = "org.springframework.boot.loader.JarLauncher"
        mainClass = "org.springframework.boot.loader.JarLauncher"
        classpath = files(configurations.generateEntitiesTool.singleFile)
    }
}
